section{
    padding: 50px 100px;
}
a{
    text-decoration: none;
    color: black;
}

nav{
    display: flex;
    gap: 20px;
}




.cardsContainer{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.navItem{
    padding-bottom: 10px;
    transition: 300ms;
    font-size: 15px;
}
.navItem:hover{
    border-bottom: 2px solid black;
    font-size: 20px;
}
.navItem:active{
    border-bottom: 2px solid red;
}